.footer {
  padding-top: 25px;
}

.footer__wrapper {
  background-color: #F1F1F1;
  border-radius: 10px;
  padding: 25px 45px;
}

.footer__title {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 20px;
}

.footer__list {
  margin-bottom: 30px;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}
