.indent {
  padding-top: 25px;
  padding-bottom: 25px;
}

.indent__title {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 30px;
}

.indent__block {
  margin-bottom: 30px;
}

.indent__block-text {
  display: inline-block;
  vertical-align: top;
  max-width: 485px;
}

.indent__block-text_left {
  max-width: 475px;
  margin-right: 40px;
}

.indent__img_margin {
  margin-right: 30px;
}

.indent__text:not(:last-child) {
  margin-bottom: 30px;
}

